<p-table [value]="files">
    <ng-template pTemplate="header">
        <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>File Type</th>
            <th>Details</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-file>
        <tr>
            <td>            <p-image [src]='getSafeUrl(file?.url)' width="30"></p-image>
            </td>
            <td>{{file.name}}</td>
            <td>{{file.type}}</td>
            <td>
                <button pTooltip="Show more" (click)="showDialog(file)" pButton icon="pi pi-ellipsis-h"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="display" [style]="{width: '80vw'}">
  <h1>File Name</h1>
  <p>{{displayedFile?.name}}</p>
  <p-image *ngIf="display" [src]='getSafeUrl(displayedFile?.url)' width="95" [preview]="true"></p-image>
  <h1>File Type</h1>
  <p>{{displayedFile?.type}}</p>
  <h1>File Size</h1>
  <p>{{displayedFile?.size}}</p>
  <button pTooltip="Close" (click)="display=false" pButton>Close</button>
</p-dialog>
